<% layout('layouts/boilerplate.ejs') %>

<div class="container text-center my-5">
  <h1 class="text-danger">Oops! Something went wrong.</h1>
  <p><%= err.message %></p> <!-- this will now work -->
  <a href="/" class="btn btn-primary mt-3">Go back Home</a>
</div>

