.image-container {
  width: 100%;
  height: 200px; /* You can adjust this height */
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  header, main, footer {
    padding: 10px;
  }

  footer {
    font-size: 12px;
  }
}
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode a {
  color: #bb86fc;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  border-color: #333;
}

body.dark-mode .btn {
  border: none;
}
