.image-container {
  width: 100%;
  height: 200px; /* You can adjust this height */
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
